In [23]:
#importing libraries
import pandas as pd
from sklearn import datasets, svm, metrics
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

In [24]:
avila =  pd.read_csv('./input/training_dataset.csv')
display(avila.head())
display(avila.dtypes)

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,scribe
0,0,-0.091897,0.297600,0.079145,0.196496,0.261718,1.269960,0.446679,-0.751707,0.001721,0.998901,Philippus
1,1,-0.091897,0.226939,0.267634,0.024091,0.261718,-0.806282,0.597681,-0.601277,0.126447,-0.909619,Paithonius
2,2,0.167323,0.313302,0.168055,-0.383198,0.261718,0.190314,0.824183,0.558250,-0.247731,-0.148073,Marcus
3,3,-0.017834,-0.228430,0.370770,1.293671,0.172340,0.896237,0.182426,0.416867,1.373706,0.868284,Noaelius
4,4,0.043885,0.407516,-0.120014,0.281743,0.261718,-0.183409,0.106925,0.142896,0.531806,-0.101311,Marcus

id          int64
F1        float64
F2        float64
F3        float64
F4        float64
F5        float64
F6        float64
F7        float64
F8        float64
F9        float64
F10       float64
scribe     object
dtype: object

In [25]:
X = avila[["F1","F2","F3","F4","F5","F6","F7","F8","F9","F10"]]
y = avila.scribe

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [27]:
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

models = {
    "svm": LinearSVC(),
    "logistic": LogisticRegression(solver='lbfgs', max_iter=2000),
    "forest": RandomForestClassifier()
}

for modelName, model in models.items():
    print(f"Training model: {modelName}")
    model.fit(X_train, y_train)

Training model: svm

/home/alfonso/.local/lib/python3.6/site-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

Training model: logistic
Training model: forest

In [29]:
d = {modelName:model.predict(X_test) for modelName, model in models.items()}
df = pd.DataFrame(d)
y_test.reset_index(inplace=True, drop=True)
df["gt"] = y_test
df

         svm    logistic              forest                  gt
0     Marcus      Marcus           Philippus           Philippus
1     Marcus      Marcus              Marcus              Marcus
2     Marcus      Marcus            Ubuntius            Ubuntius
3     Marcus      Marcus           Philippus           Philippus
4     Marcus  Franciscus          Franciscus          Franciscus
...      ...         ...                 ...                 ...
2399  Marcus      Marcus  FerrumEffractarius  FerrumEffractarius
2400  Marcus      Marcus              Marcus              Marcus
2401  Marcus      Marcus           Philippus           Philippus
2402  Marcus      Marcus          Paithonius          Paithonius
2403  Marcus      Marcus           Philippus           Philippus

[2404 rows x 4 columns]

In [30]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from IPython.core.display import display, HTML

for modelName, model in models.items():    
    print(f"Evaluating model [{modelName}]:")
    print("Accuracy", accuracy_score(df["gt"],df[modelName]))
    print("Precision", precision_score(df["gt"],df[modelName],average='weighted'))
    print("Recall", recall_score(df["gt"],df[modelName],average='weighted'))

Evaluating model [svm]:
Accuracy 0.538269550748752
Precision 0.42826357368790835
Recall 0.538269550748752
Evaluating model [logistic]:
Accuracy 0.5723793677204659
Precision 0.5162134747911222
Recall 0.5723793677204659
Evaluating model [forest]:
Accuracy 0.987936772046589
Precision 0.987984551632191
Recall 0.987936772046589

/home/alfonso/.local/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1268: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [31]:
##Now we repeat with test dataset
avila_test =  pd.read_csv('./input/test_dataset.csv')

In [32]:
X = avila_test[["F1","F2","F3","F4","F5","F6","F7","F8","F9","F10"]]

In [33]:
d = {modelName:model.predict(X) for modelName, model in models.items()}
print(d)

df = pd.DataFrame(d)
df.drop(columns=['svm', 'logistic'], inplace=True)
df.rename(columns={"forest": "scribe"}, inplace=True)
df

{'svm': array(['Marcus', 'Marcus', 'Begonius', ..., 'Marcus', 'Marcus', 'Marcus'],
      dtype=object), 'logistic': array(['Franciscus', 'Philippus', 'Noaelius', ..., 'Marcus', 'Marcus',
       'Marcus'], dtype=object), 'forest': array(['Franciscus', 'Ubuntius', 'Noaelius', ..., 'Marcus', 'Philippus',
       'Franciscus'], dtype=object)}

          scribe
0     Franciscus
1       Ubuntius
2       Noaelius
3         Marcus
4         Marcus
...          ...
8007  Paithonius
8008      Marcus
8009      Marcus
8010   Philippus
8011  Franciscus

[8012 rows x 1 columns]

In [34]:
df.to_csv('./output/submission.csv')